.boxItem {
  width: 120px;
  height: 150px;
  background: rgb(155, 155, 155);
  border-radius: 5px;
  box-shadow: 2px 1px 3px rgb(192, 186, 186);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}

.boxItem-title {
  text-shadow: 1px 1px 5px rgb(240, 235, 235);
  font-size: 20px;
  font-weight: bolder;
  margin: 5px auto;
  text-align: center;
}

.boxItem:active {
  background: rgb(170, 192, 212);
}

/**
* Styles Component Loading
**/
.containerLoading {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 60px;
  height: 60px;
  border: 10px solid #b8b8b8;
  border-radius: 50%;
  margin: 5px;
}

.loading {
  border-top: 10px solid rgb(12, 148, 211);
  -webkit-animation: loadingAnimation 2s linear infinite;
  animation: loadingAnimation 2s linear infinite;
}

@-webkit-keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderSuccess {
  border: 10px solid #42c236;
  background-image: url(../assets/images/success.jpg);
  background-size: cover;
  background-position: bottom;
}

.loaderError {
  border: 10px solid #d12424;
  background-image: url(../assets/images/2018-08-24.png);
  background-size: cover;
  background-position: bottom;
}
